@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");
/* Homepage */
body {
  line-height: 2em;
  margin: 0 0 22px;
  font-size: 1.5em;
}
.rounded {
  border-radius: 100px;
}
img.pull-top {
  margin-top: 40px;
}
.jumbotron {
  background: #ffffff;
  padding: 20px 30px;
}
ul.no-padding {
  padding-left: 0px;
}
/* Posts page */
ul {
  list-style: none;
}
ul li .date {
  float: left;
  margin-right: 1rem;
  line-height: 3rem;
  color: #b4bcc2;
  width: 10rem;
  text-align: right;
}
.date {
  color: #b4bcc2;
  font-size: 0.9em;
}
ul.bullet li {
  list-style: disc;
}
.container pre[class*='language-'] > code[data-language] {
  overflow: auto;
}
.container p {
  line-height: 2em;
  margin: 0 0 22px;
  font-size: 1.3em;
}
blockquote {
  font-style: italic;
  border-left: 2px solid #2c3e50;
}
/* Projects page */
.timeAgo {
  display: block;
  color: #b4bcc2;
  font-size: .8em;
}
.activity {
  padding-left: 0;
}
.activity .actorAvatar {
  margin-right: 10px;
}
.activity li {
  line-height: 20px;
  margin-bottom: 15px;
  font-size: 1.3rem;
}
body {
  background: #ecf0f1;
  padding-top: 80px;
}
.navbar {
  border-width: 0px;
}
.navbar-default .badge {
  background-color: #fff;
  color: #2c3e50;
}
.navbar-inverse .badge {
  background-color: #fff;
  color: #18bc9c;
}
.navbar-brand {
  padding: 18.5px 15px 20.5px;
}
.btn:active {
  box-shadow: none;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.text-primary,
.text-primary:hover {
  color: #2c3e50;
}
.text-success,
.text-success:hover {
  color: #18bc9c;
}
.text-danger,
.text-danger:hover {
  color: #e74c3c;
}
.text-warning,
.text-warning:hover {
  color: #f39c12;
}
.text-info,
.text-info:hover {
  color: #3498db;
}
table a:not(.btn),
.table a:not(.btn) {
  text-decoration: underline;
}
table .success,
.table .success,
table .warning,
.table .warning,
table .danger,
.table .danger,
table .info,
.table .info {
  color: #fff;
}
table .success a,
.table .success a,
table .warning a,
.table .warning a,
table .danger a,
.table .danger a,
table .info a,
.table .info a {
  color: #fff;
}
table > thead > tr > th,
.table > thead > tr > th,
table > tbody > tr > th,
.table > tbody > tr > th,
table > tfoot > tr > th,
.table > tfoot > tr > th,
table > thead > tr > td,
.table > thead > tr > td,
table > tbody > tr > td,
.table > tbody > tr > td,
table > tfoot > tr > td,
.table > tfoot > tr > td {
  border: none;
}
table-bordered > thead > tr > th,
.table-bordered > thead > tr > th,
table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > th,
table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > th,
table-bordered > thead > tr > td,
.table-bordered > thead > tr > td,
table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > td,
table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ecf0f1;
}
.form-control,
input {
  border-width: 2px;
  box-shadow: none;
}
.form-control:focus,
input:focus {
  box-shadow: none;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning .form-control-feedback {
  color: #f39c12;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border: 2px solid #f39c12;
}
.has-warning .input-group-addon {
  border-color: #f39c12;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .form-control-feedback {
  color: #e74c3c;
}
.has-error .form-control,
.has-error .form-control:focus {
  border: 2px solid #e74c3c;
}
.has-error .input-group-addon {
  border-color: #e74c3c;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success .form-control-feedback {
  color: #18bc9c;
}
.has-success .form-control,
.has-success .form-control:focus {
  border: 2px solid #18bc9c;
}
.has-success .input-group-addon {
  border-color: #18bc9c;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
}
.pager a,
.pager a:hover {
  color: #fff;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  background-color: #3be6c4;
}
.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;
}
.close:hover,
.close:focus {
  color: #fff;
  opacity: 1;
}
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.progress {
  height: 10px;
  box-shadow: none;
}
.progress .progress-bar {
  font-size: 10px;
  line-height: 10px;
}
.well {
  box-shadow: none;
}
.panel-default .close {
  color: #2c3e50;
}
.modal .close {
  color: #2c3e50;
}
.popover {
  color: #2c3e50;
}
footer {
  border-top: 1px solid #fff;
  margin-top: 5rem;
}
footer .dark {
  background: #2c3e50;
  color: #fff;
  padding: .5em 0 1em;
}
/* Bottom footer */
.bottom-footer {
  margin-top: 10px;
}
footer .bottom-list li {
  padding-right: 20px;
  float: left;
}
footer li.active a {
  color: #2c3e50;
}
