// Element UI
@import "../../../node_modules/element-ui/lib/theme-default/index.css";

$fa-css-prefix: el-icon-fa;
@import "../../../node_modules/font-awesome/scss/font-awesome";
[class^="el-icon-fa"], [class*=" el-icon-fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome!important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};
