footer.main-footer a {
  cursor: pointer;
}
footer.main-footer p.text-muted {
  margin-bottom: 0;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background: #202227;
}
.skin-blue .sidebar-menu > li.header {
  color: #93AFBB;
  background: #25272d;
}
.sidebar-menu .append {
  margin-top: -44px;
}
.sidebar-menu .treeview-menu .append {
  margin-top: -30px;
}
.skin-blue .sidebar-menu .append:hover,
.skin-blue .sidebar-menu > li.active > a:last-child {
  color: #fff;
  background: none;
  border: 0;
}
.skin-blue .main-header .logo {
  border-bottom: 1px solid #202227;
}
.checkbox label {
  padding-left: 0;
}
.checkbox label div {
  margin-right: 5px;
  margin-top: -2px;
}
